core/esp32 pcb and mounting/pcb files/esp_shield/esp_shield-backups
core/esp32 pcb and mounting/pcb files/esp_shield/#auto_saved_files#
core/esp32 pcb and mounting/pcb files/esp_shield/_autosave-esp_shield.kicad_pcb
core/esp32 pcb and mounting/pcb files/esp_shield/_autosave-esp_shield.kicad_sch